<!--
{% macro render_field(field) %} {{ field.label }} {{ field(**kwargs)|safe }} {% if field.errors %} {% for error in field.errors
%}
<span class="help-inline">
    {{ error }}
</span>
{% endfor %} {% endif %} {% endmacro %}
-->
{% macro render_field(field) %}
<dt>{{ field.label }}
    <dd>{{ field(**kwargs) | safe }} {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <span class="help-inline">
                {{ error }}
            </span>
            {% endfor %}
        </ul>
        {% endif %}
    </dd>
    {% endmacro %}