{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %} {% if error %}
<div class="alert aler-danger"> {{ error }}</div>
{% endif %} {% if msg %}
<div class="alert aler-success"> {{ msg }}</div>
{% endif %}