<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">My Flask App</a>
    <div class="container">


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
                <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
             -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session.logged_in%}
                <li>
                    <a href="/dashboard"> Dashboard </a>
                </li>
                <li>
                    <a href="/logout"> Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="/register">Register </a>
                </li>
                <li>
                    <a href="/login"> Login</a>
                </li>
                {% endif %}
            </ul>
            <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
         -->
        </div>
    </div>
</nav>