{% extends 'layout.html' %} {% block body %}
<h1>
    About Us
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sed cum ex amet corrupti velit nobis magni
    tenetur. Consequatur
    ratione eveniet provident quam ipsam, quaerat doloremque praesentium cumque ullam dolorem?
</p>
{% endblock %}