{% extends 'layout.html' %} {% block body %}
<h1>Add Article </h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
    <div class="form-group">
        {{ render_field (form.title, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field (form.body, class_="form-control", id="editor") }}
    </div>

    <p>
        <input type="submit" class="btn btn-primary" value="Submit">
    </p>
</form>
{% endblock %}