{% extends 'layout.html' %} {% block body %}
<h1>
    {{ article.title }}
</h1>
<small>Written by {{article.author}} on {{article.create_date}}</small>
<hr>
<div>
    {{article.body | safe}}
</div>
{% endblock %}