{% extends 'layout.html' %} {% block body %}
<h1>Dashboard <small>Welcome {{session.username}}</small>
</h1>
<a href="/add_article" class="btn btn-success"> Add Article </a>
<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td>{{article.create_date}}</td>
        <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
            <form action="{{ url_for('delete_article', id=article.id)}}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="DELETE" class="btn btn-danger">
            </form>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}