{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center" style="width:800px; margin:100px auto;">
    <h1>
        Welcome To My FlaskApp
    </h1>
    <p class="lead">
        This Application is built on top of Flask Framework
    </p>
    {% if session.logged_in ==NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
</div>
{% endblock %}