<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My First Flask App -- Yeaaaaaay XD --</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="container" style="width:800px; margin:100px auto;">
        {% include 'includes/_messages.html' %} {% block body %}{% endblock %}

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.10.0/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor')
    </script>
</body>

</html>